In [1]:
# Задание 1

# Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

# если источник traffic_source равен yandex или google, то в source_type ставится organic
# для источников paid и email из России - ставим ad
# для источников paid и email не из России - ставим other
# все остальные варианты берем из traffic_source без изменений

In [2]:
import pandas as pd
log = pd.read_csv('other/visit_log.csv', sep=';')

In [11]:
log.loc[log['source_type'] != 'traffic_source', 'source_type'] = log['traffic_source']
log.loc[(log['traffic_source'] == 'yandex') | (log['traffic_source'] == 'google'), 'source_type'] = 'organic'
log.loc[(log['region'] == 'Russia') & (log['traffic_source'] == 'paid'), 'source_type'] = 'ad'
log.loc[(log['region'] != 'Russia') & (log['traffic_source'] == 'paid'), 'source_type'] = 'other'
log.loc[(log['region'] == 'Russia') & (log['traffic_source'] == 'email'), 'source_type'] = 'ad'
log.loc[(log['region'] != 'Russia') & (log['traffic_source'] == 'email'), 'source_type'] = 'other'
log.head(20)

# а можно ли через функцию apply пропускать информацию из двух столбцов?

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex,organic
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex,organic
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex,organic
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex,organic
5,1549980742,8855508aad,https://host.ru/df646c3676cc259fa0,Russia,fc43898e47,yandex,organic
6,1549980742,b0f66adc83,https://host.ru/b8b58337d272ee7b15,Russia,13fc55e781,paid,ad
7,1549980754,837885c8f8,https://host.ru/108ce4b365afb7b88e,Russia,cb5082b6f6,direct,direct
8,1549980760,af5570f5a1,https://host.ru/3004a8273caeef2867,China,45664f7af2,direct,direct
9,1549980765,3e7077fd2f,https://host.ru/df646c3676cc259fa0,Russia,6f9de8c8b6,email,ad
10,1549980777,01d448afd9,https://host.ru/a5dda93e70318570c0,India,27e76a4a80,direct,direct
11,1549980785,71b6c1d538,https://host.ru/c8d9213a31839f9a3a,Ukraine,3b13701488,google,organic
12,1549980789,15ec7bf0b5,https://host.ru/8e88d4703848cc0ec4,Russia,6d1d81f7f8,paid,ad
13,1549980792,dd46c3eebb,https://host.ru/3004a8273caeef2867,China,7e301c8c41,direct,direct
14,1549980793,e7ecebbc59,https://host.ru/05e41944dd85a900a6,Belarus,ac52dedc3b,direct,direct
15,1549980797,5322fecfc9,https://host.ru/4adc8a29b212051b04,Belarus,9a45d98867,paid,other
16,1549980801,374708fff7,https://host.ru/39fa884393666d45fc,Russia,e9bd59e22d,google,organic
17,1549980807,0a88111852,https://host.ru/2fcb223266880ccf57,Ukraine,a2ba8fa3db,paid,other
18,1549980814,60daa3a5f7,https://host.ru/ef57543002ce2a0f2a,Belarus,72cb10fb5c,direct,direct
19,1549980816,d6fd62f5ce,https://host.ru/f1eb4601740d627ab0,Belarus,7269dcd869,direct,direct

In [5]:
# Задание 2

# В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:

# Прочитайте содержимое файла с датафрейм
# Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [4]:
site = pd.read_csv('other/URLs.txt')

In [5]:
new_info = site[site['url'].str.contains('\\d{8}\-', na=False)]
new_info.head(20)

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
10  /middleeast/36131117-divizion-s-400-ne-zametil...
11  /economics/36065674-rossiyane-vozmutilis-minim...
12  /politics/36118047-otets-24-detey-potreboval-i...
13  /travel/36194479-v-sheremetevo-passazhiry-ustr...
14  /politics/35638742-nesolidno-mariya-zaharova-s...
15  /video/36012692-tramp-otkrestilsya-ot-rossii-i...
16     /starlife/36174817-guzeeva-rasstalas-s-muzhem/
17  /health/36149308-predlozheno-prostoe-sredstvo-...
18  /science/36139723-set-vzbudorazhila-novost-o-s...
19  /cis/36229699-poroshenko-obyavil-vseukrainskiy...
20  /incidents/36225203-tonnel-obrushilsya-v-novoy...
21  /politics/36118047-otets-24-detey-potreboval-i...
22  /world/36075956-na-granitse-s-krymom-zahvachen...
23  /politics/36115220-mid-vystupil-s-preduprezhde...
24  /world/36018565-sbu-opublikovala-zapis-peregov...

In [6]:
# Задание 3

# Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 
# 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp
# для данного значения userId.

In [68]:
rate = pd.read_csv('other/ml-latest-small/ratings.csv')
# таков путь:
# groupby userId
# rating count > 100
# livetime = timestamp max - timestamp min
# mean livetime (timestamp)

# diff_time = rate.groupby('userId').agg({'timestamp': ['min', 'max']})
diff_time = rate.groupby('userId').agg({'timestamp': ['min', 'max', 'count']})
# сортировка по юзер айди, но выводим по каждому юзеру минимальное время и максимальное время через agg() который позволит
# вычислить дальше разницу

diff_time['dif'] = diff_time[('timestamp', 'max')] - diff_time[('timestamp', 'min')] #новый столбец с временем жизни
# diff_time = diff_time.drop('timestamp', axis=1)  #удаляем лишнее
diff_time = diff_time[diff_time[('timestamp', 'count')] >= 100]
diff_time[( 'dif','')].mean()

# у меня так и не получилось избавиться от мультииндекса,
# после ресет_индекса толком не было изменений, что помогли бы мне разобраться дальше
# поэжтому вывел значения по колхозному методу. Теперь среднее значение?

39331748.56653992

In [69]:
# Задание 4

# Дана статистика услуг перевозок клиентов компании по типам (см. файл “Python_13_join.ipynb” в разделе Материалы для лекции
# «Продвинутый pandas» ---- Ноутбуки к лекции «Продвинутый pandas»).

# Необходимо сформировать две таблицы:
# таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
# аналогичную таблицу по типам выручки с указанием адреса клиента

In [70]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd = rzd.set_index('client_id')

In [71]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto
auto.set_index('client_id', inplace=True)

In [72]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air.set_index('client_id', inplace=True)

In [73]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base.set_index('client_id', inplace=True)

In [74]:
# тут выводим таблицу всех клиентов без адресов
all = rzd.join(auto, how="outer").join(air, how="outer")
all.fillna('0').reset_index() #нули поменял для вида, для рассчетов нулди надо поменять обратно на NaN

   client_id rzd_revenue auto_revenue air_revenue
0        111      1093.0            0           0
1        112      2810.0            0           0
2        113     10283.0      57483.0           0
3        114      5774.0         83.0           0
4        115       981.0        912.0        81.0
5        116           0       4834.0         4.0
6        117           0         98.0        13.0
7        118           0            0       173.0

In [75]:
# тут выводим полную таблицу всех людей с адресами
all_base = client_base.join(rzd, how='outer').join(auto, how='outer').join(air, how='outer').reset_index()
all_base = all_base.fillna('0')
all_base

   client_id          address rzd_revenue auto_revenue air_revenue
0        111  Комсомольская 4      1093.0            0           0
1        112   Энтузиастов 8а      2810.0            0           0
2        113  Левобережная 1а     10283.0      57483.0           0
3        114          Мира 14      5774.0         83.0           0
4        115        ЗЖБИиДК 1       981.0        912.0        81.0
5        116    Строителей 18           0       4834.0         4.0
6        117  Панфиловская 33           0         98.0        13.0
7        118     Мастеркова 4           0            0       173.0