In [1]:
# Задание 1
# Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
import pandas as pd
data = pd.read_csv('ml-25m/ratings.csv')

In [11]:
best = data[data['rating'] == 5.0]
value_counter = best['movieId'].value_counts()
value_res = pd.DataFrame(value_counter).reset_index()
value_res.columns=['movieId', 'count']
print(value_res.iloc[0])

# у меня не получилось сгруппировать это через groupby =( как делать памагати

movieId      318
count      39553
Name: 0, dtype: int64

In [10]:
# Задание 2
# По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [9]:
power = pd.read_csv('power.csv')

# таков путь
# отсортировать года с 2005 по 2010
# из них отсортировать категории 4, 12 и 21
# из этого подсчитать всю сумму Латвии, Литвы и Эстонии (вся Прибалтика)

years_filt = power[(power['year'] >= 2005) & (power['year'] <= 2010)]
cat_filt = years_filt[(years_filt['category'] == 4) | (years_filt['category'] == 12) | (years_filt['category'] == 21)]
bribalt_country = cat_filt[((cat_filt['country'] == 'Lithuania') | (cat_filt['country'] == 'Latvia') | (cat_filt['country'] == 'Estonia')) & (cat_filt['quantity'] >= 0)]
bribalt_country['quantity'].sum() # сумма всей прибалтики
# bribalt_country[bribalt_country['country'] == "Estonia"]['quantity'].sum() #тут считает только Эстония апример
# bribalt_country[['country', 'quantity']].groupby('country').sum() # тут сумма по каждой стране
# bribalt_country[['country', 'year', 'quantity']].groupby(['country', 'year']).sum()  # а тут суммирование расхода стран по годам

240580.0

In [8]:
bribalt_country.describe()
# это тут просто так

              year     quantity    category
count   408.000000   408.000000  408.000000
mean   2007.575980   589.656863   16.367647
std       1.622662  1063.388571    6.429136
min    2005.000000     0.000000    4.000000
25%    2006.000000     1.000000   12.000000
50%    2008.000000    27.000000   21.000000
75%    2009.000000   760.000000   21.000000
max    2010.000000  4909.000000   21.000000

In [7]:
# Задание 3
# Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
# Примеры страниц (необязательно брать именно эти):
# https://fortrader.org/quotes
# www.finanz.ru...om-vremeni

In [9]:
site = pd.read_html('https://cbr.ru/currency_base/daily/', attrs = {'class': 'data'}, encoding='utf-8')
site
# вывести-то вывелось, но работать с этими данными не получилось. Что надо делать?

[    Цифр. код Букв. код  Единиц                                    Валюта  \
 0          36       AUD       1                      Австралийский доллар
 1         944       AZN       1                     Азербайджанский манат
 2          51       AMD     100                          Армянских драмов
 3         933       BYN       1                         Белорусский рубль
 4         975       BGN       1                            Болгарский лев
 5         986       BRL       1                          Бразильский реал
 6         348       HUF     100                       Венгерских форинтов
 7         410       KRW    1000                      Вон Республики Корея
 8         344       HKD      10                      Гонконгских долларов
 9         208       DKK       1                             Датская крона
 10        840       USD       1                                Доллар США
 11        978       EUR       1                                      Евро
 12        356       INR     100                           Индийских рупий
 13        398       KZT     100                       Казахстанских тенге
 14        124       CAD       1                          Канадский доллар
 15        417       KGS     100                          Киргизских сомов
 16        156       CNY       1                            Китайский юань
 17        498       MDL      10                           Молдавских леев
 18        934       TMT       1                   Новый туркменский манат
 19        578       NOK      10                           Норвежских крон
 20        985       PLN       1                           Польский злотый
 21        946       RON       1                             Румынский лей
 22        960       XDR       1     СДР (специальные права заимствования)
 23        702       SGD       1                       Сингапурский доллар
 24        972       TJS      10                         Таджикских сомони
 25        949       TRY      10                              Турецких лир
 26        860       UZS   10000                           Узбекских сумов
 27        980       UAH      10                         Украинских гривен
 28        826       GBP       1  Фунт стерлингов Соединенного королевства
 29        203       CZK      10                              Чешских крон
 30        752       SEK      10                             Шведских крон
 31        756       CHF       1                         Швейцарский франк
 32        710       ZAR      10                    Южноафриканских рэндов
 33        392       JPY     100                              Японских иен

        Курс
 0    552147
 1    436278
 2    148917
 3    289477
 4    447012
 5    143545
 6    243920
 7    644867
 8    954254
 9    117558
 10   741236
 11   873917
 12   993714
 13   173512
 14   592704
 15   874482
 16   114519
 17   411455
 18   212085
 19   846063
 20   190608
 21   177440
 22  1056165
 23   546997
 24   649922
 25   859713
 26   696056
 27   271502
 28  1026982
 29   340266
 30   857208
 31   807623
 32   502768
 33   670832  ]